body{
    background: rgba(100, 169, 169, 0.511); 
    color: rgb(198, 39, 39); 
    font-size: 1.3rem;;
    margin: 0;
    font-family: monospace; }
h2{
    text-align: center;
    padding: 40px;
    font-size: 2rem;
    border-bottom: 5px dashed black;
}
ul{

    list-style: none;
    color: black;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
}
li{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    >p{margin: 0;}
    >img{margin: 0;}
    
}
img{
     border-radius: 15px;
}
li:hover{
    >p{
        color: rgb(198, 39, 39);
        font-size: x-large;
        transition: 0.5s;
         transform: translateY(-10px);
    }
    >img{
        transform: translateY(-10px);
        box-shadow: 9px 16px 40px 7px rgba(0,0,0,0.8);
        -webkit-box-shadow: 9px 16px 40px 7px rgba(0,0,0,0.8);
        -moz-box-shadow: 9px 16px 40px 7px rgba(0,0,0,0.8);
        transition: 0.5s;
    };
};